
body{
 background-image: url("../images/background.png"); 
 padding: 0;
 margin-left: : 50px;
 margin-right: 50px;
}


 .pOne{
        padding: 20px;
        left: 5px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background: teal;
        
    }

/* 
Animation 
*/

@keyframes mymove {
 from {background-color: teal;}
 to {background-color: black;}

 from {color: black;}
 to{color: teal;}

}

#myDiv
{
 -webkit-animation: mymove 5s infinite;
 animation: mymove 5s infinite;
 	
}

   